DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

NODE_ENV=development
BOT_LOG_LEVEL=info
DATA_DIR=./data

OWNER_ROLE_ID=
CS_TASK_CHANNEL_ID=

COINS_LEADERBOARD_CHANNEL_ID=
COINS_LEADERBOARD_THUMBNAIL_URL=
COINS_LEADERBOARD_IMAGE_URL=
CS_TASK_EMBED_IMAGE_URL=

SPIN_WHEEL_CHANNEL_ID=
SPIN_WHEEL_STATIC_IMAGE_URL=
SPIN_WHEEL_THUMBNAIL_URL=
SPIN_WHEEL_RESULT_1_MEDIA_URL=
SPIN_WHEEL_RESULT_2_MEDIA_URL=
SPIN_WHEEL_RESULT_3_MEDIA_URL=
SPIN_WHEEL_RESULT_4_MEDIA_URL=
