DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

NODE_ENV=development
BOT_LOG_LEVEL=info
DATA_DIR=./data

OWNER_ROLE_ID=

COINS_LEADERBOARD_CHANNEL_ID=
COINS_LEADERBOARD_THUMBNAIL_URL=
COINS_LEADERBOARD_IMAGE_URL=
CS_TASK_EMBED_IMAGE_URL=
